JSGRAY BITMAP "d:\A200\WaferViewer\Adds\JS9Gray.bmp"
JSYEL0 BITMAP "d:\A200\WaferViewer\Adds\JS9Yel0.bmp"
JSYEL1 BITMAP "d:\A200\WaferViewer\Adds\JS9Yel1.bmp"
JSYEL2 BITMAP "d:\A200\WaferViewer\Adds\JS9Yel2.bmp"
JSYEL3 BITMAP "d:\A200\WaferViewer\Adds\JS9Yel3.bmp"
JSYEL4 BITMAP "d:\A200\WaferViewer\Adds\JS9Yel4.bmp"
JSYEL5 BITMAP "d:\A200\WaferViewer\Adds\JS9Yel5.bmp"
JSYEL6 BITMAP "d:\A200\WaferViewer\Adds\JS9Yel6.bmp"
JSYEL7 BITMAP "d:\A200\WaferViewer\Adds\JS9Yel7.bmp"
JSYEL8 BITMAP "d:\A200\WaferViewer\Adds\JS9Yel8.bmp"
JSGRN0 BITMAP "d:\A200\WaferViewer\Adds\JS9Grn0.bmp"
JSGRN1 BITMAP "d:\A200\WaferViewer\Adds\JS9Grn1.bmp"
JSGRN2 BITMAP "d:\A200\WaferViewer\Adds\JS9Grn2.bmp"
JSGRN3 BITMAP "d:\A200\WaferViewer\Adds\JS9Grn3.bmp"
JSGRN4 BITMAP "d:\A200\WaferViewer\Adds\JS9Grn4.bmp"
JSGRN5 BITMAP "d:\A200\WaferViewer\Adds\JS9Grn5.bmp"
JSGRN6 BITMAP "d:\A200\WaferViewer\Adds\JS9Grn6.bmp"
JSGRN7 BITMAP "d:\A200\WaferViewer\Adds\JS9Grn7.bmp"
JSGRN8 BITMAP "d:\A200\WaferViewer\Adds\JS9Grn8.bmp"